body {
    background: linear-gradient(to right, #ffffff, #ff6b15);
}

.txt-admin {
    margin-left: 670px;
}

.notifications {
    font-size: 25px;
    color: #fff;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    color: #fff;
}

.nav-link {
    padding: 0.7rem 2rem;
}

.drop-down {
    margin-left: 50px;
}

.dropdown-item {
    padding: 5px;
}

.nav-hover:hover {
    background-color: #495057;
}

/* Customer Management */
.txt-customer {
    margin-left: 290px;
}

.customer {
    margin: 20px;
    margin-left: 275px;
}

.customer-table {
    margin-right: 10px;
    margin-left: 275px;
}

.customer-table-head {
    background-color: black;
}

.customer-footer {
    margin-left: 200px;
}