body {
    background: linear-gradient(to right, #ffffff, #ff6b15);
}

.notifications {
    font-size: 25px;
    color: #fff;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    color: #fff;
}

.nav-link {
    padding: 0.7rem 3.5rem;
}

.drop-down {
    margin-left: 65px;
}

.nav-hover:hover {
    background-color: #495057;
}

.txt-center {
    margin-left: 650px;
}