body {
    background: linear-gradient(to right, #ffffff, #ff6b15);
}

.txt-admin {
    margin-left: 670px;
}

.notifications {
    font-size: 20px;
    color: #fff;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    color: #fff;
}

.nav-link {
    padding: 0.7rem 2rem;
}

.drop-down {
    margin-left: 50px;
}

.dropdown-item {
    padding: 5px;
}

.nav-hover:hover {
    background-color: #495057;
}

/* Manage */
.manage-header {
    margin-left: 290px;
}

.manage {
    margin: 20px;
    margin-left: 275px;
}

.manage-table {
    margin-right: 20px;
    margin-left: 275px;
    overflow-x: auto;
    max-width: 100%;
}

.table {
    width: 100%;
    white-space: nowrap;
}

.table th,
.table td {
    padding-right: 100px;
}

.manage-footer {
    margin-left: 200px;
}