body {
    background: linear-gradient(to right, #ffffff, #ff6b15);
}

/* Navigation-Hover */
.nav-hover::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ff6b15;
    transition: 0.4s;
}

.nav-hover:hover::after {
    width: 100%;
}

#btnRegister,
#btnLogin {
    background-color: #ff6b15;
    color: #ffffff;
    cursor: pointer;
}

/* Register */
.register-container {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
}

/* Login */
.login-container {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
}

.login-form {
    padding: 20px;
}

.social-links {
    position: absolute;
    bottom: 0;
    padding-right: 17px;
}