body {
    background: linear-gradient(to right, #ffffff, #ff6b15);
}

#btnRegister {
    background-color: #ff6b15;
    color: #ffffff;
    cursor: pointer;
}

#btnLogin {
    background-color: #ff6b15;
    color: #ffffff;
    cursor: pointer;
}

.nav-link:hover {
    color: #ff6b15 !important;
    transition: 0.3s;
}