body {
    background: linear-gradient(to right, #ffffff, #ff6b15);
}

#btnRegister {
    background-color: #ff6b15;
    color: #ffffff;
    cursor: pointer;
}

#btnLogin {
    background-color: #ff6b15;
    color: #ffffff;
    cursor: pointer;
}

.nav-hover::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ff6b15;
    transition: 0.4s;
}

.nav-hover:hover::after {
    width: 100%;
}