#sign-up-container {
    width: 450px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0px 7px;
    border-radius: 8px;
    position: absolute;
    top: 19vh;
    right: 0;
    left: 50%;
    margin: auto;
}

.form-control:focus {
    border-color: #FFA633;
    box-shadow: inset 1px 1px #FFA633, 0 0 4px #FFA633;
}

#log-in-btn:hover {
    color: #ffffff !important;
    position: absolute;
    background-color: rgba(59, 59, 59, 0.9) !important;
    box-shadow: none !important;
    border-color: #000000FF;
}

#signup-page-signup:hover {
    background-color: rgba(0, 0, 0, 0.9) !important;
    box-shadow: none !important;
}

